<h1>TODO's Home Page</h1>
<hr>
<h2>Features:</h2>
<ul>
  <li><%= link_to "View Projects", projects_path %></li>
  <li><%= link_to "View Tasks", tasks_path %></li>
  <li><%= link_to "View Users", users_path %></li>
  <li><%= link_to "View Comments", comments_path %></li>
</ul>
<hr>
